*{
    margin: 0;
    padding: 0;
    font-family: 'Krub','Noto Sans', sans-serif;
    /* outline: 1px solid #f00; */
}
.wrap{
    width: 960px;
    margin: 0 auto;
}
.navbar{
    width: 100%;
    min-width: 960px;
    height: 70px;
    background-color: #f5f5f5;
    position: fixed;
    z-index: 10;
    box-shadow: 0px 3px 20px #333;
}
.navbar-brand{
    width: 100px;
    line-height: 8;
    padding: 0 30px;
    float: left;
    /* transform-origin: 50% 20%; */
}
.navbar-brand:hover{
    /* transform: rotate(360deg); */
    transition: 1s;
}
.navbar-brand img{
    width: 80%;
}
/* .navbar-nav ul{
    line-height: 4;
} */
.navbar-nav li{
    list-style: none;
    float: left;
    width: 100px;
    text-align: center;
    padding: 0 15px 6px 15px;

    transition: 1s;
    position: relative;
}
.navbar-nav li a{
    text-decoration: none;
    color: #364f6b;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 1px;
    display: inline-block;
    transition: .5s;
    
}
.navbar-nav span{
    /* position: absolute;
    top: 42%;
    left: 28%; */
    font-size: 10px;
    opacity: 0;
    color: #f5f5f5;
}
.navbar-nav li:hover{
    background-color: #364f6b;
}
.navbar-nav li:hover span{
    opacity: 1;
    transition-delay: 0.5s;
    transition: 2s;
}
.navbar-nav li:hover a{
    color: #f5f5f5;
    margin-top: 0;
}
.member{
    line-height: 4;
    float: right;
    margin-right: 30px;
}
.member a{
    color: #364f6b;
    display: inline-block;
    width: 30px;
}
.video{
    width: 100%;
    min-width: 960px;
    padding-top: 70px;
    
}
video{
    width:100%;
    min-width: 960px;
}
.video .video-txt{
    position: absolute;
    z-index:8;
    overflow:hidden; 
    top: 50%;
    left: 50px;   
    color: #f5f5f5;
    font-size: 40px;
}
.video-txt span{
    display: block;
    font-weight: 1000;
    opacity:1;
    transform:translateX(0px);
    transition:all 1.8s ease;
}
.video-txt a, .col1 a,.col2 a,.col3 a{
    text-decoration: none;
    display: inline-block;
    color: #ea5455;
    font-weight: 700;
    width: 100px;
    height: 40px;
    border: 1px solid #ea5455;
    font-size: 16px;
    text-align: center;
    line-height: 2.5;
    border-radius: 15px;
    transition: 1s;
    margin-top: 10px;
}
.video:hover .video-txt a{
    background-color: #ea5455;
    color: #f5f5f5;
}
.video-txt span:nth-child(1){
    transition-delay:.5s
}
.kstep{
    position: relative;
}
.kstep-item1{
    width: 960px;
    height: 150px;
    background-image: url('img/bg1.png');
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    left: -300px;
    text-align: center;
    line-height: 3;
    z-index: 3;
}
.kstep-item1::before{
    content: '';
    display: block;
    width: 2px;
    height: 20px;
    background-color: #364f6b;
    position: absolute;
    left: 310px;
    top: 36px;
}
.kstep-item1 h2{
    color: #364f6b;
    font-size: 32px;
}
.kstep-item2{
    padding-top: 130px;
}
.ks-content1, .ks-content2, .ks-content3 {
    width: 320px;
    float: left;
    position: relative;
}
.ks-content1 img,.ks-content2 img,.ks-content3 img{
    width: 100%;
    opacity: 1;
    transition: 1s;
}
.ks-content1:hover img,.ks-content2:hover img,.ks-content3:hover img{
    opacity: .3;
    /* box-shadow: 0px 3px 20px #333; */
}
.ks-content1:hover .col1 a,.ks-content2:hover .col2 a,.ks-content3:hover .col3 a{
    opacity: 1;
}
.col1 a:hover,.col2 a:hover,.col3 a:hover{
    background-color: #ea5455;
    color: #f5f5f5;
}
.ks-content1:hover .col1{
    top: 67%;
    left: 35%;
}
.ks-content2:hover .col2{
    top: 67%;
    left: 30%;
}
.ks-content3:hover .col3{
    top: 67%;
    left: 25%;
    color: #364f6b;
}
.col1 a,.col2 a,.col3 a{
    opacity: 0;
    transition: 0.5s;
}
.step{
    font-size: 110%;
    position: absolute;
    color: #364f6b;
    text-align: center;
}
.col1{
    top: 75%;
    left: 35%;
    transition: .8s;
}
.col2{
    top: 75%;
    left: 30%;
    transition: .8s;
}
.col3{
    top: 75%;
    left: 25%;
    color: #f5f5f5;
    transition: .8s;
}
.clear-fix{
    clear: both;
}
.step h3{
    padding-bottom: 6px;
    font-size: 120%;
}
.kstep-item3{
    width: 950px;
    height: 50px;
    background-color: #364f6b;
    box-shadow: 0px 5px 8px 0.8px rgba(0, 0, 0, 0.48);
    position: relative;
    top: 485px;
    left: 5px;
    z-index: 10;
}
.kstep-item4{
    position: relative;
    z-index: 5;
}
.tr-col{
    width: 480px;
    float: left;
}
.product{
    position: relative;
   
}
.product .product-bg{
    position: absolute;
    top: 0;
    left: -5px;
    margin-top: -200px;
    z-index: 1;
}
.pro-title h2{
    z-index: 3;
    color: #364f6b;
    position: absolute;
    top: 100px;
    right: 100px;
    font-size: 32px;
}
.pro-title::before{
    content: '';
    display: block;
    width: 400px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 150px;
    right: 0;
    z-index: 3;
}
.pro-title::after{
    content: '';
    display: block;
    width: 2px;
    height: 20px;
    background-color: #364f6b;
    position: absolute;
    z-index: 3;
    right: 240px;
    top: 113px;
}
.pro-title span{
    z-index: 3;
    color: #364f6b;
    position: absolute;
    top: 152px;
    right: 60px;
    font-size: 20px;
}