*{
    margin: 0;
    padding: 0;
    font-family: 'Lato','Noto Sans','Microsoft JhengHei', sans-serif;
    /* outline: 1px solid #f00; */
}


.wrap{
    width: 960px;
    margin: 0 auto;
}
.navbar{
    width: 100%;
    min-width: 960px;
    height: 70px;
    background-color: #f5f5f5;
    position: fixed;
    z-index: 100;
    box-shadow: 0px 3px 20px #333;
    
}
.navbar-brand{
    text-align: center;
    width: 100px;
    height: 70px;
    line-height: 8;
    padding: 0 30px;
    float: left;
    margin-top: -2px;
    /* transform-origin: 50% 20%; */
}
.navbar-brand img{
    width: 80%;
}
/* .navbar-nav ul{
    line-height: 4;
} */
.main-menu > li{
    list-style: none;
    float: left;
    text-align: center;
    position: relative;
    width: 150px;
}
.main-menu > li a{
    text-decoration: none;
    color: #364f6b;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 7px;
    display: inline-block;
}
.main-menu > li > a{
    transition: color 1s 0.2s,background-color 1s 0s;
}
.main-menu > li.active{
    background-color: #364f6b;
}
.main-menu > li.active > a {
    color: #f5f5f5;
}
.kcoins a{
    color: #f5f5f5;
}
.main-menu .submenu{
    display: none;
    background-color: #f5f5f5;
    list-style: none;
}
.main-menu li:hover .submenu{
    display: block;
}
.submenu a{
    display: block;
    height: 30px;
    border-bottom: 1px solid #ccc; 
}
.submenu a:hover{
    font-size: 120%;
    font-weight: 1000;
}
.navbar-nav span{
    /* position: absolute;
    top: 42%;
    left: 28%; */
    font-size: 10px;
    opacity: 0;
    color: #f5f5f5;
}
.main-menu >li span{
    transition: 2s;
    opacity: 0;
}
.main-menu > li:hover span{
    opacity: 1;
}
.main-menu > li:hover > a{
    color: #f5f5f5;
    background-color: #364f6b;
}
.member{
    line-height: 4;
    float: right;
    margin-right: 30px;
}
.member a{
    color: #364f6b;
    display: inline-block;
    width: 40px;
    text-align: center;
}
.header-content{
    max-width: 1380px;
    margin: auto;
}
.footer{
    margin-top: 100px;
    width: 100%;
    min-width: 960px;
    height: 100px;
    background-color: #364f6b;
    padding-top: 70px;
}
.footer-content li{
    list-style: none;
    padding: 10px;
    float: left;
    text-align: center;
    vertical-align: middle;
}
.footer-content a:hover{
    opacity: 1;
}
.footer-content a{
    display: inline-block;
    text-decoration: none;
    color: #f5f5f5;
    opacity: 0.7;
    transition: .3s;
}
.footer-content{
    max-width: 1380px;
    clear: right;
    padding-left: 50%;
    margin-left: -280px;
}
.footer-content i{
    font-size: 130%;
}
.footer-content img{
    float: left;
    opacity: 0.7;
    width: 80px;
    padding-right: 10px;
}
.footer p{
    color: #f5f5f5;
    padding-left: 50%;
    padding-top: 30px;
    margin-left: -50px;
    opacity: 0.7;
    font-size: 12px;
}
.clear-fix{
    clear: both;
}
.title-h2{
    color: #364f6b;
    font-size: 32px;
}
.title-sp{
    color: #364f6b;
}
.header{
    width: 100%;
    min-width: 960px;
    height: 550px;
    overflow: hidden;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.header-re{
    position: relative;
    width: 960px;
    height: 550px;
    margin: auto;
}
.header-txt{
    position: absolute;
    bottom: 100px;
    right: 0;
    color: #f5f5f5;
    font-size: 30px;
    text-align: center;
}

.price{
    color: #ea5455;
    font-size: 20px;
}
.btna{
    text-decoration: none;
    display: inline-block;
    color: #ea5455;
    background-color: rgb(245,245,245,0.5);
    font-weight: 700;
    width: 100px;
    height: 40px;
    border: 1px solid #ea5455;
    font-size: 16px;
    text-align: center;
    line-height: 2.5;
    border-radius: 15px;
    transition: .8s;
}
.btna:hover{
    background-color: #ea5455;
    color: #f5f5f5;
}
.size{
    text-align: center;
    display: inline-block;
    width: 50px;
    background-color: #fff;
    border: 0.5px solid #ccc;
}
.k-btn a{
    color: #364f6b;
    text-decoration: none;
    display: inline-block;
    background-color: #f5f5f5;
    border-radius: 15px;
    width: 100px; 
    height: 40px;
    line-height: 2.5;
    margin: 10px;
    position: relative;
    top: 0;
    font-weight: 700;
    box-shadow: 1px 1px 0px #f5f5f5,
                2px 2px 0px #ccc,
                3px 3px 0px #aaa,
                4px 4px 0px #888,
                5px 5px 0px #777,
                6px 6px 0px #444,
                7px 7px 0px #222,
                7px 7px 5px #222;
    transition: .2s;
}
.k-btn li > a:hover{
    top: 3px;
    box-shadow: 1px 1px 0px #f5f5f5,
                2px 1px 0px #ccc,
                3px 2px 0px #aaa,
                4px 2px 0px #888,
                5px 3px 0px #777,
                6px 3px 0px #444,
                7px 4px 0px #222,
                7px 4px 5px #222;
}
.exchange{
    width: 100%;
    background-color: #f4f4f4;
    padding-bottom: 50px;
}
.exchange-title{
    text-align: center;
    padding-top: 50px;
    position: relative;
    width: 300px;
    margin: auto;
}
.after h2::after{
    content: '';
    display: block;
    width: 2px;
    height: 20px;
    background-color: #364f6b;
    position: absolute;
    left: 75px;
    top: 62px;
}
.exchange-btn a{
    color: #f5f5f5;
    text-decoration: none;
    display: inline-block;
    background-color: #364f6b;
    border-radius: 15px;
    width: 100px; 
    height: 40px;
    line-height: 2.5;
    font-weight: 700;
}
.exchange-btn{
    padding-top: 20px;
}
.table{
    border-top: 1px solid #364f6b;
    margin: auto;
    color: #364f6b;
}
.table td{
    width: 320px;
    height: 100px;
    text-align: center;
    border-bottom: 1px solid #364f6b;
    position: relative;
    font-weight: 700;
    font-size: 18px;
}
.exchange-detail{
    padding-top: 50px;
}
.amt{
    font-size: 36px;
    font-weight: 1000;
    opacity: .4;
    position: absolute;
    top: 13px;
    left: 65px;
}
.status{
    color: #00adb5;
}
.status-use{
    color: #ea5455;
}
.exchange-bg{
    width: 960px;
    margin: auto;
}