*{
    margin: 0;
    padding: 0;
    font-family: 'Krub','Noto Sans','Microsoft JhengHei', sans-serif;
    /* outline: 1px solid #f00; */
}

.wrap{
    width: 960px;
    margin: 0 auto;
}
.navbar{
    width: 100%;
    min-width: 960px;
    height: 70px;
    background-color: #f5f5f5;
    position: fixed;
    z-index: 100;
    box-shadow: 0px 3px 20px #333;
    font-family: "abc"
}
.navbar-brand{
    width: 100px;
    line-height: 8;
    padding: 0 30px;
    float: left;
    /* transform-origin: 50% 20%; */
}
.navbar-brand img{
    width: 80%;
}
/* .navbar-nav ul{
    line-height: 4;
} */
.main-menu > li{
    list-style: none;
    float: left;
    text-align: center;
    position: relative;
    width: 150px;
}
.main-menu > li a{
    text-decoration: none;
    color: #364f6b;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 7px;
    display: inline-block;
}
.main-menu > li > a{
    transition: color 1s 0.2s,background-color 1s 0s;
}
.main-menu > li.active{
    background-color: #364f6b;
}
.main-menu > li.active > a {
    color: #f5f5f5;
}
.kcoins a{
    color: #f5f5f5;
}
.main-menu .submenu{
    display: none;
    background-color: #f5f5f5;
    list-style: none;
}
.main-menu li:hover .submenu{
    display: block;
}
.submenu a{
    display: block;
    height: 30px;
    border-bottom: 1px solid #ccc; 
}
.submenu a:hover{
    font-size: 120%;
    font-weight: 1000;
}
.navbar-nav span{
    /* position: absolute;
    top: 42%;
    left: 28%; */
    font-size: 10px;
    opacity: 0;
    color: #f5f5f5;
}
.main-menu >li span{
    transition: 2s;
    opacity: 0;
}
.main-menu > li:hover span{
    opacity: 1;
}
.main-menu > li:hover > a{
    color: #f5f5f5;
    background-color: #364f6b;
}
.member{
    line-height: 4;
    float: right;
    margin-right: 30px;
}
.member a{
    color: #364f6b;
    display: inline-block;
    width: 30px;
}
.header-content{
    max-width: 1380px;
    margin: auto;
}
.footer{
    margin-top: 100px;
    width: 100%;
    min-width: 960px;
    height: 100px;
    background-color: #2d4059;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70px;
}
.footer-content li{
    list-style: none;
    padding: 10px;
    float: left;
    text-align: center;
    vertical-align: middle;
    
}
.footer-content a:hover{
    opacity: 1;
}
.footer-content a{
    display: inline-block;
    text-decoration: none;
    color: #f5f5f5;
    opacity: 0.7;
    transition: .3s;
}
.footer-content{
    max-width: 1380px;
    clear: right;
    padding-left: 50%;
    margin-left: -280px;
}
.footer-content i{
    font-size: 130%;
}
.footer-content img{
    float: left;
    opacity: 0.7;
    width: 80px;
    padding-right: 10px;
}
.footer p{
    color: #f5f5f5;
    padding-left: 50%;
    padding-top: 30px;
    margin-left: -50px;
    opacity: 0.7;
    font-size: 12px;
}
.clear-fix{
    clear: both;
}